@font-face {
    font-family: 'Freight';
    src: url('FreightBigProLight-Regular.eot');
    src: url('FreightBigProLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightBigProLight-Regular.woff2') format('woff2'),
        url('FreightBigProLight-Regular.woff') format('woff'),
        url('FreightBigProLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('Freight-BigBook.eot');
    src: url('Freight-BigBook.eot?#iefix') format('embedded-opentype'),
        url('Freight-BigBook.woff2') format('woff2'),
        url('Freight-BigBook.woff') format('woff'),
        url('Freight-BigBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('FreightBigProSemibold-Regular.eot');
    src: url('FreightBigProSemibold-Regular.eot?#iefix') format('embedded-opentype'),
        url('FreightBigProSemibold-Regular.woff2') format('woff2'),
        url('FreightBigProSemibold-Regular.woff') format('woff'),
        url('FreightBigProSemibold-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Freight';
    src: url('Freight-BigBold.eot');
    src: url('Freight-BigBold.eot?#iefix') format('embedded-opentype'),
        url('Freight-BigBold.woff2') format('woff2'),
        url('Freight-BigBold.woff') format('woff'),
        url('Freight-BigBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

